h1 {
    color: rgb(68, 68, 211);
    font-family: 'Times New Roman', Times, serif;  
}

.myname {
    background-color: rgb(68, 68, 211);
}

nav {
    background-color:  rgb(68, 68, 211);
}

 .navbar-brand {
     color: white !important;
     padding: 0;
     margin: 0;
 }

.nav-link {
    float: right;
    color: black;
}

body {
    background-image: url("https://images.unsplash.com/photo-1509624776920-0fac24a9dfda?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");  
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgb(68, 68, 211) !important;
    color: white;
}

.background {
    width:600px;
    height:600px;
    margin-top: 70px;
}

.img {
    width: 350px;
    height: 350px;
    border: 0;
}

 img {
    float: left; 
     width: 170px;
    height: 230px;
    padding: 3px
}

.btn {
    color:white;
    background: rgb(68, 68, 211);
}

.project {
    padding: 20px;
    margin: auto;
    text-align: center;
}